.homeStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.SearchBox {
    margin-top: 40px;
}

.isLoading {
    height: 30px;
    width: 200px;
}

.isLoading>div {
    margin: 10px;
    height: 60px;
    font-size: 20px;
    text-align: "center";
}

.mainCompo {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.dropdown {
    min-width: 200px;
}


.datatable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* .datatable>div {
    width: 100%;
} */